html,
body {
  height: 100%;
}

body {
  font: 16px/22px 'Open Sans', 'sans-serif';
  height: 100%;
  margin: 0;
}

h1 {
  font: 24px/32px 'Open Sans', 'sans-serif';
  font-weight: 300;
  margin-top: 0;
}

.fill-parent {
  height: 100%;
  width: 100%;
}
